#fish {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#fish td,
#fish th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#fish tr:nth-child(even) {
  background-color: #f2f2f2;
}

#fish tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#fish th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #d708df;
  color: white;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 30px solid #d708df;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
button {
  margin: auto;
  display: flex;
  align-items: center;
  padding: none;
  margin-bottom: 10px;
}
